@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: Geist, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.25rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --animate-marquee: marquee 120s linear infinite;
  --animate-marquee-reverse: marquee-reverse 120s linear infinite;

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  @keyframes marquee-reverse {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
  }
}

:root {
  --radius: 0.25rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2791 0.0038 247.9637);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2791 0.0038 247.9637);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2791 0.0038 247.9637);
  --primary: oklch(0.4948 0.0280 264.2768);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9379 0.0035 247.8606);
  --secondary-foreground: oklch(0.2791 0.0038 247.9637);
  --muted: oklch(0.9691 0.0017 247.8397);
  --muted-foreground: oklch(0.5522 0.0090 247.9914);
  --accent: oklch(0.9274 0.0291 229.1973);
  --accent-foreground: oklch(0.2791 0.0038 247.9637);
  --destructive: oklch(0.6333 0.2001 24.9320);
  --border: oklch(0.9064 0.0053 247.8830);
  --input: oklch(0.9222 0.0044 247.8716);
  --ring: oklch(0.7201 0.1103 232.9539);
  --chart-1: oklch(0.4948 0.0280 264.2768);
  --chart-2: oklch(0.5757 0.0266 196.4347);
  --chart-3: oklch(0.5753 0.0413 307.6655);
  --chart-4: oklch(0.6558 0.0239 84.5890);
  --chart-5: oklch(0.6718 0.0310 338.1681);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2791 0.0038 247.9637);
  --sidebar-primary: oklch(0.4948 0.0280 264.2768);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9274 0.0291 229.1973);
  --sidebar-accent-foreground: oklch(0.2791 0.0038 247.9637);
  --sidebar-border: oklch(0.9064 0.0053 247.8830);
  --sidebar-ring: oklch(0.7201 0.1103 232.9539);
  --destructive-foreground: oklch(0.9848 0 0);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.03;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: -0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 0px 2px 8px 0px hsl(0 0% 0% / 0.03), 0px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 0px 2px 8px 0px hsl(0 0% 0% / 0.03), 0px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 0px 2px 8px 0px hsl(0 0% 0% / 0.03), 0px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 0px 2px 8px 0px hsl(0 0% 0% / 0.03), 0px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.03), 0px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.07);
  --tracking-normal: -0.01em;
}

.dark {
  --background: oklch(0.1917 0.0052 248.1014);
  --foreground: oklch(0.9222 0.0044 247.8716);
  --card: oklch(0.2357 0.0075 248.1444);
  --card-foreground: oklch(0.9222 0.0044 247.8716);
  --popover: oklch(0.2357 0.0075 248.1444);
  --popover-foreground: oklch(0.9222 0.0044 247.8716);
  --primary: oklch(0.7864 0.0856 231.0129);
  --primary-foreground: oklch(0.1917 0.0052 248.1014);
  --secondary: oklch(0.3182 0.0115 248.1899);
  --secondary-foreground: oklch(0.9222 0.0044 247.8716);
  --muted: oklch(0.2674 0.0090 248.1657);
  --muted-foreground: oklch(0.7615 0.0139 248.0106);
  --accent: oklch(0.3470 0.0631 234.8957);
  --accent-foreground: oklch(0.8560 0.0579 229.8841);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --border: oklch(0.3671 0.0139 248.2062);
  --input: oklch(0.3182 0.0115 248.1899);
  --ring: oklch(0.7864 0.0856 231.0129);
  --chart-1: oklch(0.7864 0.0856 231.0129);
  --chart-2: oklch(0.7003 0.0229 196.6402);
  --chart-3: oklch(0.7519 0.0232 308.1185);
  --chart-4: oklch(0.8131 0.0127 84.5843);
  --chart-5: oklch(0.7568 0.0225 337.8541);
  --sidebar: oklch(0.2140 0.0064 248.1257);
  --sidebar-foreground: oklch(0.9222 0.0044 247.8716);
  --sidebar-primary: oklch(0.7864 0.0856 231.0129);
  --sidebar-primary-foreground: oklch(0.1917 0.0052 248.1014);
  --sidebar-accent: oklch(0.3470 0.0631 234.8957);
  --sidebar-accent-foreground: oklch(0.8560 0.0579 229.8841);
  --sidebar-border: oklch(0.3671 0.0139 248.2062);
  --sidebar-ring: oklch(0.7864 0.0856 231.0129);
  --destructive-foreground: oklch(0.9846 0.0009 247.8294);
  --radius: 0.25rem;
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.2;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: -0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}